<footer id="page-footer">

    <div class="row">

        <div class="columns small-12 medium-4">
            <ul class="footer-menu">
                <li class="footer-menu-item"><a href="#">Gallery</a></li>
                <li class="footer-menu-item"><a href="#">Achievements</a></li>
                <li class="footer-menu-item"><a href="#">Events</a></li>
                <li class="footer-menu-item"><a href="#">Contact me</a></li>
                <li class="footer-menu-item"><a href="#">Profile</a></li>
            </ul>
        </div>

        <div class="columns small-12 medium-4">
            <div class="clearfix">
                <svg class="footer-icons icon-facebook" viewBox="0 0 1 1"><use xlink:href="/svg/sprite.symbol.svg/#icon-facebook"></use></svg>
                <svg class="footer-icons icon-twitter" viewBox="0 0 1 1"><use xlink:href="/svg/sprite.symbol.svg/#icon-twitter"></use></svg>
            </div>

            <ul class="vcard footer-menu">
                <li class="fn"></li>
                <li class="street-address"></li>
                <li class="locality"></li>
                <li><span class="city">Pune</span> - <span class="zip">411038</span></li>
                <li><span class="state">Maharashtra</span>, <span class="country">India</span></li>
                <li class="email"><a href="#">sonal@padmakosh.com</a></li>
            </ul>

        </div>

        <div class="columns small-12 medium-4 text-center small-text-left">
            <img class="footer-logo" src="/img/logo/padmakosh-logo-yello-white.png" alt="Padmakosh" />
            <div class="footer-logo-text">Padmakosh</div>
        </div>

    </div>

</footer>