<header id="page-header">

    <div class="header-email visible-for-medium-up">sonal@padmakosh.com</div>

    <img class="header-background" src="/img/wall/sonal-01.jpg" />

    <div class="logo-panel">
        <img class="logo-background" src="/img/logo/padmakosh-logo.png" />
        <div class="logo-text-school-kathak visible-for-small-only">School of Kathak</div>
        <div class="logo-text-school visible-for-medium-up">School of</div>
        <h1 class="logo-text">
            <span class="logo-text-kathak visible-for-medium-up">K<br />A<br />T<br />H<br />A<br />K</span>
            <span>Padmakosh</span>
        </h1>
    </div>

    <ul class="main-navigation">
        <li class="main-navigation-item">
            <a href="#" class="main-navigation-item-link">
                <div class="main-navigation-title">About Padmakosh</div>
                <div class="main-navigation-text">
                    Explore what Padmakosh is.<br />
                    What we do as a team.
                </div>
            </a>
        </li>

        <li class="main-navigation-item">
            <a href="#" class="main-navigation-item-link">
                <div class="main-navigation-title">Gallery</div>
                <div class="main-navigation-text">
                    Snap of what we do everyday. <br />
                    The list keeps growing.
                </div>
            </a>
        </li>

    </ul>

    <ul class="second-navigation clearfix">
        <li class="second-navigation-item">
            <a href="#" class="second-navigation-link">Achievements</a>
        </li>
        <li class="second-navigation-item">
            <a href="#" class="second-navigation-link">Events</a>
        </li>
    </ul>

</header>