
// Colors
$dark-brown: #191000;
$yellowish-white: #FFFDD8;
$yellowish-grey: #C0BDAB;

$pink-primary: #FF4D4D;

// System wide fonts
$font-family-sans-serif: "Lato", sans-serif;
$font-family-handwritten: "perrygothic", serif;